<h1>Make your form here</h1>
<form action="/pirates" method="post">
    Pirate Name: <input type="text" name="pirate[name]">
    Pirate Name: <input type="text" name="pirate[weight]">
    Pirate Name: <input type="text" name="pirate[height]">

    Pirate Ship: <input type="text" name="pirate[ships][][name]" id="ship_name_1">
    Pirate Ship: <input type="text" name="pirate[ships][][type]" id="ship_type_1">
    Pirate Ship: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
    
    Pirate Ship: <input type="text" name="pirate[ships][][name]" id="ship_name_2">
    Pirate Ship: <input type="text" name="pirate[ships][][type]" id="ship_type_2">
    Pirate Ship: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
    <input type="submit" id="Submit">
</form>